.kartalla-interpolate .leaflet-marker-icon {
    transition: transform 1000ms linear;
}

div.symbolToolTip {
    position: absolute;
    padding: 5px;
    white-space: pre-wrap;
    background: linear-gradient(to bottom, khaki, white);
    z-index: 1000;
    max-width: 30ch;
}

div.findOwnLocation {
    cursor: pointer;
    font-size: large;
}

div.findingOwnLocation {
    color: black;
    font-size: large;
    animation-duration: 2s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.2;
    }
}

div.locatingSuccess {
    color: green;
}

div.locatingError {
    color: red;
}
