html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    color: black;
    background-color: white;
}

div.uiBar {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

span.button {
    cursor: pointer;
}

span.closeButton {
    position: absolute;
    top: 1px;
    right: 1px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

span.alert {
    color: red;
}

span.visibilityButton {
    font-size: large;
}

span.dataInfo {
    cursor: help;
    color: midnightblue;
}

div.dataInfoToolTip {
    position: absolute;
    padding: 5px;
    white-space: pre;
    background: linear-gradient(to bottom, azure, white);
    z-index: 1000;
}

div.textBox {
    padding: 5px;
    color: black;
    background-color: white;
    opacity: 0.9;
    position: absolute;
    max-width: 75%;
    z-index: 1000;
}

div.scrollBox {
    overflow: auto;
}

ul.alertList {
    padding-left: 20px;
}

a:link {
    color: #0000FF;
    background-color: #FFFFFF;
}

a:link:hover {
    color: #FFFFFF;
    background-color: #0000FF;
}

a:visited {
    color: #606060;
    background-color: #FFFFFF;
}

a:visited:hover {
    color: #FFFFFF;
    background-color: #606060;
}
