html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

span.visibilityButton {
    cursor: pointer;
}

span.dataInfo {
    cursor: help;
    color: teal;
}

a:link {
    color: #0000FF;
    background-color: #FFFFFF;
}

a:link:hover {
    color: #FFFFFF;
    background-color: #0000FF;
}

a:visited {
    color: #606060;
    background-color: #FFFFFF;
}

a:visited:hover {
    color: #FFFFFF;
    background-color: #606060;
}
